<head>
   <script type="text/javascript">
     function mail(user,domain,mailbody)
        {
                if (!domain) {
                        domain="dlr.de";
                }
		if (!mailbody){
			mailbody=""
		}
                url="mail"+"to:"+user+"@"+domain+"?body="+mailbody;
                window.location.href=url;
        }
    </script>
</head>

 <table>
  <tr>
    <th>Contact</th>
    <th>Impressum</th>
    <th>Privacy</th>
    <th>Terms of use</th>
    <th>Acknowledgements</th>
  </tr>
  <tr>
    <td><p style="font-size:95%;">📧 <a href="javascript:mail('esmvaltool-contact','dlr.de')">ESMValTool Team</a><br></p></td>
    <td><p style="font-size:95%;"><a href="/legal_notice">Legal Notice</a></p></td>
    <td><p style="font-size:95%;"><a href="/privacy">Privacy Notice</a></p></td>
    <td><p style="font-size:95%;"><a href="/terms_of_use">Terms of use</a></p></td>
    <td><p style="font-size:95%;"><a href="/acknowledgements">ESMValTool Funding</a></p></td>
  </tr>
</table>
